body {
    color: white;
    font-family: Roboto, sans-serif;

}

section {
    border: 1px solid black;
    height: 400px;
    margin-bottom: 30px;
}

/* untilities */
.box-square {
    width: 100px;
    height: 100px;

}

.bg-black {
    background-color: black;
}

.bg-dark {
    background-color: yellow;
}

.mr-5 {
    margin-right: 5px;
}

#example {
    display: flex;
    justify-content: space-between;
}



#challenges1 .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#challenges1 .right_side {
    display: flex;

}

#challenges2 .container {
    display: flex;
    flex-direction: column;
   
}

.box1-2 {
    display: flex;

}

.box2-2 {
    display: flex;
    justify-content: center;
}

.box3-2 {
    display: flex;
    justify-content: flex-end;
}

.box1-3 {
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    
}

.box1-3 {
    display: flex;
    justify-content: center;
    align-items: center;

}




.box1-4 {
    display: flex;
}

.bg-green {
    background-color: lawngreen;
}



.box2-4 {
    position: relative;
    top: -20px;
    right: -60px;
    
}


.box1-5 {
    display: flex;
    justify-content: flex-end;
    ali

}

.box2-5 {
    display: flex;
    justify-content: center;
}

.box3-5 {
    display: flex;
   
}

.box1-6 {
    background-color: lightblue;
    width: 300px;
    height: 200px;
    
}

.bai6 {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.box1-6 {
    position: relative;
}
.box2-6 {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.box3-6 {
    position: absolute;
    top: 0px;
    right: 0px;

}

.box1-7 {
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    
}

.box1-7 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}



.box1-8 {
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    
}

.box1-8 {
    display: flex;
    justify-content: flex-end;
   

}

.box1-9 {
    background-color: lightblue;
    width: 400px;
    height: 300px;
    
}
.bai9{
   
  
    position: relative;
}

.box2-9 {
    display: flex;
    justify-content: center;

}

.box3-9 {
    display: flex;
    /* justify-content: center; */
    align-content: flex-end;
}
